
    {{#ui-modal name="profile" id="editnode" class="active noshad" onApprove=(action 'saveNode') onDeny=(action 'cancelNode')}}
      
      <div class="header">
        <div class="fx">
          <i class="close icon deny enodeclose" {{action 'closeEditDialog'}}></i>
          <div class="header title">Edit Node  </div>
        </div>
        
      </div>
      
      <form class="ui form pad24">
             
              <div class="field">
                <label> Name</label>
                {{input type="text" value=selectedNode.name placeholder='Name'}}
              </div>
              {{!-- <div class="field flex2">
                  <label>Text Color</label>
                  {{#color-field value=selectedNode.textcolor placeholder='#000'}}
                  {{/color-field}}
              </div>
              <div class="field flex2">
                  <label>Background Color</label>
                  {{#color-field value=selectedNode.backgroundcolor placeholder='#000'}}
                  {{/color-field}}
              </div> --}}

               <div class="field flex2">
                  <label> Types </label>
                  {{!-- {{render 'plantypes' this }}   --}}

                  {{log "this is here " this model}}
                 {{!--  <select class="h36">
                      {{#each this.plantypes}}
                          <option value={{id}}>{{name}}</option>
                      {{/each}}
                      
                    </select> --}}

                    {{view "select" class="h36"
                       content=this.plantypes
                       optionValuePath="content.val"
                       optionLabelPath="content.name"
                       selection=this.flowtype}}
              </div>

              


      </form>

      
    {{/ui-modal}}

