{{render 'appheader'}}

<div class="fx fh">


	<div class="fh groupsidebar">
		<div class="fx">
			<div class="ui icon input ">
			{{input type='text' placeholder="Groups" value=newgroup.name onEvent="keypress" action="createGroup"}}
			</div>
			<div {{action 'createGroup'}} class="groupadd">
				 <i class="add square icon"></i>
			</div>	

		</div>

		<div class="ui divided items">
		<div class="item">
		  	{{#link-to 'flow' 'all'}}
		      	All
		     {{/link-to}} 
		</div>
		{{#each groups}}
				  <div class="item">
				  	{{#link-to 'flow' this.id}}
				      	{{name}}
				     {{/link-to}} 
				  </div>

		  {{/each}}	
		</div>
		
	</div>	

	<div class="ui container margin0 fh">


	<div class="viewbar">
		<div class="ui disabled icon input">
		  <i class="search icon"></i>
		  <input type="text" placeholder="Search...">
		</div>	
		<button class="ui primary button" {{action 'showPlan'}}>
		  Create
		</button>
	</div>


	<div class="ui special cards pad20 fh">


	{{#each model}}
		{{render "flowcard" this}}
		

		  {{/each}}
		</div>


	</div>


	
</div>




{{partial 'dialogs/flow'}}
{{partial 'editflow'}}
{{outlet}}


