{{render 'appheader'}}

<div class="fx fh fw ohid cl">

	<div class="ui menu nheader nomargin noshad fx">
		<div class="fx fx2">
		  	<div class="ui item" {{action 'flowsback' this}}>
		 		<div class="fsz22">
		 			<i class="arrow left icon"></i>
		 		</div> 		
		  	</div>
		  	<div class="ui item nbf">
		  	{{input type='text' value=model.name class="fsz22 editable"}}
		  	</div>

		  	
		</div>		 			
		  
		  	<div class="field fx fx2 fx-aend">
		  		{{#each flowchartsymbols}}
					{{render 'mainnode' this}}
				{{/each}}	
				<div class="ui item nbf">
		 			<i class="setting left icon"></i>
		 		</div> 	
		  	</div>
	
	</div>	

	<div class="fh fw sauto pad24 explorer">

		{{#each model.nodes}}
			{{render 'node' this}}
		{{/each}}	
	</div>
	
</div>

	 <div class="fh msidebar">
		{{partial 'dialogs/editnode'}}		
	</div>


{{outlet}}

